.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-form {
  display: flex;
  width: 500px;
  padding: 30px;
}

.App-intro {
  font-size: large;
}

button,
input {
  width: 500px;
  color: #333333;
  font-family: "Avenir Next";
  font-size: 26px;
  line-height: 32px;
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
}
input {
  border: 1px solid;
}
button {
  border: none;
  background-color: #68aec9;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
