.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px;
  width: 525px;
  height: 625px;
  z-index: 1;
}

.App-form {
}

.App-intro {
  font-size: large;
}

h1 {
  color: #333333;
  font-size: 30px;
  line-height: 41px;
  font-weight: normal;
  margin-bottom: 40px;
}

input,
button {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  border-radius: 7px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding: 20px 25px;
}

input {
  border: 1.45px solid #aab3c0;
}

input:active,
input:focus,
input:hover {
  border: 1.45px solid #68aec9;
}

button {
  background-color: #68aec9;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}
