.Letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid transparent;
}

.Letter-selected {
  border-color: #68aec9;
  background-color: #68aec9;
}
